{% load static %}

          <div class="container">
            <nav>
              <div class="burger-menu"><i class="bi bi-list"></i></div>

              <div class="navbar-right">
                <div class="search-bar">
                  <ion-icon name="search-outline"></ion-icon>
                  <input type="text" placeholder="Search" />
                </div>

                <div class="user">
                  <div class="avatar">
                    <img src="{% static 'ressources/1.png' %}" alt="" width="50" />
                  </div>
                </div>
              </div>
            </nav>


            <div class="filter-bar">
              <div class="filter">
                <div class="filter-item-society">
                  <label for="filter">Filtrer par société:</label>
                  <select name="filter" id="filter">
                    <option value="all">Tous</option>
                    <option value="pending">Pigier</option>
                    <option value="treated">Pigier</option>
                  </select>
                </div>

                <div class="filter-item-diplome">
                  <label for="filter">Filtrer par diplôme:</label>
                  <select name="filter" id="filter">
                    <option value="all">Tous</option>
                    <option value="pending">BTS</option>
                    <option value="pending">LICENCE</option>
                    <option value="treated">MASTER</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="content">
              <div class="card">
                <div class="table-responsive">
                  <table class="table">
                    <thead>

                        <tr>
                            <th class="text-truncate">Reference</th>
                            <th class="text-truncate">Categorie</th>
                            <th class="text-truncate">Désignation</th>
                            <th class="text-truncate">Description</th>
                            <th class="text-truncate">Marque</th>
                            <th class="text-truncate">Modèle</th>
                            <th class="text-truncate">Caracteristique</th>
                            <th class="text-truncate">Couleur</th>
                            <th class="text-truncate">Action</th>

                        </tr>
                    </thead>
                    <tbody id="liste-biens" hx-get="{% url 'catalogue:liste-biens-partial' %}" hx-trigger="load, refresh-messages from:body" hx-swap="innerHTML">


                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

{% block modal_request %}
<div class="modal_request">
    <button class="new_request"
            hx-get="{% url 'catalogue:ajouter-bien' %}"
            hx-target="#modal-body"
            hx-swap="innerHTML"
            @click="$dispatch('open-modal')">
        Ajouter un bien/service
        <ion-icon name="add-circle-outline"></ion-icon>
    </button>
</div>

{% endblock modal_request %}